<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="W_USER" value="BCservice" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="W_PWD" value="P@@@$$w0rdd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AD_USER" value="BCservice" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADW_PWD" value="P@@@$$w0rdd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DOMAIN" value="Court" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AD_Server" value="10.200.4.100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ODATA_URI" value="http://erpprodtapprep1.court.go.ke:7048/Jumuika2/ODataV4/Company('Judiciary')/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CTS_API" value="https://cts.court.go.ke/Oauth2/Auth/get_refund_docs_base_64_erp?fee_invoice_item_id=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IS_PROD" value="NON-PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EDMSUploadUrl" value="https://erpedmsappsev.court.go.ke:92/api/Upload" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EDMSRetrieveUrl" value="https://erpedmsappsev.court.go.ke:92/api/Retrieve" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EDMSRemoveUrl" value="https://erpedmsappsev.court.go.ke:92/api/RemoveFile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EDMSURL" value="https://erpedmsappsev.court.go.ke/SitePages/Home.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <applicationSettings>
    <Latest_Staff_Portal.Properties.Settings>
      <setting name="Latest_Staff_Portal_NAVWS_WebService" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://erpprodtapprep1.court.go.ke:7047/Jumuika2/WS/Judiciary/Codeunit/WebService</value>
      </setting>
    </Latest_Staff_Portal.Properties.Settings>
  </applicationSettings>
</configuration>
