@{
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}

<style>
    .widget-list li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

<script src="~/assets/js/ShowProgression.js"></script>
<script src="~/SiteJS/SideBarLink.js"></script>

<script>
    function toggleWidget(widgetId) {
        var widgets = document.querySelectorAll('.widget-content');
        widgets.forEach(function (widget) {
            if (widget.id === widgetId) {
                if (widget.style.display === "none") {
                    widget.style.display = "block";
                } else {
                    widget.style.display = "none";
                }
            } else {
                widget.style.display = "none";
            }
        });
    }
</script>

<div class="tab-container mb-5">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" , onclick="HomeLink()">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <hr /><br />



    <div class="row mt-5">
        <div class="col-md-12">

            <h4>Project Implementation</h4>
            <hr />
        </div>
    </div>

    <div class="row">


        @*Contractor Extension requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorExtensionRequests');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Extension Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorExtensionRequests" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('New');">
                                <i class="fas fa-file-upload"></i> New Contractor Extension Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Contractor Extension Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Received');">
                                <i class="fas fa-inbox"></i> Received Contractor Extension Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionTeamApprovalLink('New');">
                                <i class="fas fa-users"></i> Team Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionTeamApprovalLink('Submitted');">
                                <i class="fas fa-search"></i> Team Approval Requests- Review
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('PM');">
                                <i class="fas fa-check"></i> Team Approval Requests- Approved
                            </a>
                        </li>


                        <li>
                            <a href="#" onclick="ContractorExtensionLink('CRJ');">
                                <i class="fas fa-file-signature"></i> CRJ Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Rejected');">
                                <i class="fas fa-times-circle"></i> Rejected Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('DSCM');">
                                <i class="fas fa-clipboard-check"></i> Procurement Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Project Manager');">
                                <i class="fas fa-briefcase"></i> Project Manager Contractor Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Actioned');">
                                <i class="fas fa-check-circle"></i> Actioned Contractor Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorExtensionLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Contractor Requests
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        @*Contractor ammended requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorAmmendedRequests');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Ammended Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorAmmendedRequests" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('New');">
                                <i class="fas fa-file-upload"></i> New Contractor Ammended Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Contractor Ammended Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Received');">
                                <i class="fas fa-inbox"></i> Received Contractor Ammended Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedTeamApprovalLink('New');">
                                <i class="fas fa-users"></i> Team Valuation List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedTeamApprovalLink('Submitted');">
                                <i class="fas fa-search-dollar"></i> Valuation Review List
                            </a>
                        </li>

                        @* -------------------------------------------------------------------------------------- *@
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Process Lead');">
                                <i class="fas fa-hard-hat"></i> QS Valuation List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('ADQS');">
                                <i class="fas fa-user-check"></i> ADQS Review List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('PM');">
                                <i class="fas fa-user-tie"></i> PM Approval List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedContractorLink('submitted');">
                                <i class="fas fa-file-alt"></i> Submitted BQs List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedContractorLink('ADQS');">
                                <i class="fas fa-user-edit"></i> ADQS Review BQs List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedContractorLink('ADQS_Rejected');">
                                <i class="fas fa-times-circle"></i> ADQS Rejected BQs List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedContractorLink('Rejected');">
                                <i class="fas fa-ban"></i> Rejected BQs List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedContractorLink('Approved');">
                                <i class="fas fa-check-circle"></i> Approved BQs List
                            </a>
                        </li>

                        @* -------------------------------------------------------------------------------------- *@

                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('CRJ');">
                                <i class="fas fa-file-signature"></i> CRJ Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Rejected');">
                                <i class="fas fa-times-circle"></i> Rejected Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('DSCM');">
                                <i class="fas fa-clipboard-check"></i> Procurement Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Project Manager');">
                                <i class="fas fa-briefcase"></i> Project Manager Contractor Ammended Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Actioned');">
                                <i class="fas fa-check-double"></i> Actioned Contractor Ammended Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorAmmendedLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Contractor Ammended Requests
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

        @*Contractor Instruction requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorInstructionRequests');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Instruction Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorInstructionRequests" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorInstructionLink('New');">
                                <i class="fas fa-file-upload"></i> New Contractor Instruction Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorInstructionLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Contractor Instruction Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorInstructionLink('Received');">
                                <i class="fas fa-inbox"></i> Received Contractor Instruction Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorInstructionLink('Team Approval');">
                                <i class="fas fa-users"></i> Team Approval Requests
                            </a>
                        </li>

                        <li>
                            <a href="#" onclick="ContractorInstructionLink('Actioned');">
                                <i class="fas fa-check-circle"></i> Actioned Contractor Instruction Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorInstructionLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Contractor Instruction Requests
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        @*Contractor Approval requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorApprovalRequests');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Approval Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorApprovalRequests" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorApprovalLink('New');">
                                <i class="fas fa-file-upload"></i> New Contractor Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorApprovalLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Contractor Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorApprovalLink('Received');">
                                <i class="fas fa-inbox"></i> Received Contractor Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorApprovalLink('Team Approval');">
                                <i class="fas fa-users"></i> Team Approval Requests
                            </a>
                        </li>

                        <li>
                            <a href="#" onclick="ContractorApprovalLink('Actioned');">
                                <i class="fas fa-check-circle"></i> Actioned Contractor Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorApprovalLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Contractor Approval Requests
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        @*Contractor Payment requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorPaymentRequest');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Payment Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorPaymentRequest" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('New');">
                                <i class="fas fa-file-upload"></i> New Contractor Payment Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Contractor Payment Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Received');">
                                <i class="fas fa-inbox"></i> Received Contractor Payment Requests
                            </a>
                        </li>
                        <li>

                            <a href="#" onclick="ContractorPaymentTeamApprovalLink('New');">
                                <i class="fas fa-users"></i> Team Valuation List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentTeamApprovalLink('Submitted');">
                                <i class="fas fa-search"></i> Valuation Review List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('QS');">
                                <i class="fas fa-calculator"></i> QS Valuation List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('ADQS');">
                                <i class="fas fa-user-check"></i> ADQS Review List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('PM');">
                                <i class="fas fa-user-tie"></i> Project Manager Approval List
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('CRJ');">
                                <i class="fas fa-file-signature"></i> CRJ Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Rejected');">
                                <i class="fas fa-times-circle"></i> Rejected Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('DSCM');">
                                <i class="fas fa-clipboard-check"></i> Procurement Approval Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Project Manager');">
                                <i class="fas fa-briefcase"></i> Project Manager Contractor Payment Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Actioned');">
                                <i class="fas fa-check-circle"></i> Actioned Contractor Payment Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPaymentLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Contractor Payment Requests
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        @*Contractor HOS requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorHOSRequest');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Contractor Head Of Station Requests</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorHOSRequest" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorHOSLink('New');">
                                <i class="fas fa-file-upload"></i> New Head Of Station Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorHOSLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Head Of Station Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorHOSLink('Received');">
                                <i class="fas fa-inbox"></i> Received Head Of Station Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorHOSLink('Team Approval');">
                                <i class="fas fa-users"></i> Team Action Head Of Station Requests
                            </a>
                        </li>

                        <li>
                            <a href="#" onclick="ContractorHOSLink('Actioned');">
                                <i class="fas fa-check-circle"></i> Actioned Head Of Station Requests
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorHOSLink('Actioned Acknowledged');">
                                <i class="fas fa-handshake"></i> Acknowledged Head Of Station Requests
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        @*PM Communication requests*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid #dbdbdb;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorPMCommunication');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Project Manager Communication</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="contractorPMCommunication" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list">
                        <li>
                            <a href="#" onclick="ContractorPMCommunicationLink('New');">
                                <i class="fas fa-file-upload"></i> New Project Manager Communication
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPMCommunicationLink('Submitted');">
                                <i class="fas fa-file-upload"></i> Submitted Project Manager Communication
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ContractorPMCommunicationLink('Received');">
                                <i class="fas fa-inbox"></i> Received Project Manager Communication
                            </a>
                        </li>
                        @*  <li>
                                <a href="#" onclick="ContractorPMCommunicationLink('Team Approval');">
                                    <i class="fas fa-users"></i> Team Approval Requests
                                </a>
                            </li>

                            <li>
                                <a href="#" onclick="ContractorPMCommunicationLink('Actioned');">
                                    <i class="fas fa-check-circle"></i> Actioned Contractor Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPMCommunicationLink('Actioned Acknowledged');">
                                    <i class="fas fa-handshake"></i> Acknowledged Contractor Requests
                                </a>
                            </li>*@
                    </ul>

                </div>
            </div>
        </div>

        @* Meetings*@
        <div class="col-md-4 mt-3" style="border-right: 12px solid transparent;">
            <div class="row">
                <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('ProjectMeetings');">
                    <a style="text-decoration: none; cursor: pointer;">
                        <div class="dash-widget-header">
                            <h5 style="color:whitesmoke">Project Meetings</h5>
                            <div class="dash-count">
                                <h3 class="menu-item-count" style="color:#fff;"></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="ProjectMeetings" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                    <ul class="widget-list" style="list-style: none; text-decoration: none;">
                        <li>
                            <a href="#" onclick="ProjectMeetingsLink('New');">
                                <i class="fas fa-plus-circle"></i>New Project Meetings
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ProjectMeetingsLink('Team Approval');">
                                <i class="fas fa-paper-plane"></i> Submitted Project Meetings
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ProjectMeetingsLink('Actioned');">
                                <i class="fas fa-inbox"></i> Received Project Meetings
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>



    </div>






    <div class="row mt-5">
        <div class="col-md-12">

            <h4>Project Closure</h4>
            <hr />
        </div>
    </div>



    <div class="tab-container mb-5">
        <div class="row">
            @* practical completion*@
            <div class="col-md-4 mb-3" style="border-right: 12px solid transparent;">
                <br />
                <div class="row">
                    <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('practicalcompletionrequest');">
                        <a style="text-decoration: none; cursor: pointer;">
                            <div class="dash-widget-header">
                                <h5 style="color:whitesmoke">Practical Completion Requests</h5>
                                <div class="dash-count">
                                    <h3 class="menu-item-count" style="color:#fff;"></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="practicalcompletionrequest" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">

                        <ul class="widget-list">
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('New');">
                                    <i class="fas fa-upload"></i> New Practical Completion Certificate Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Submitted');">
                                    <i class="fas fa-upload"></i> Submitted Practical Completion Certificate Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Received');">
                                    <i class="fas fa-envelope-open-text"></i> Received Practical Completion Certificate Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalTeamApprovalLink('New');">
                                    <i class="fas fa-user-check"></i> Team Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalTeamApprovalLink('Submitted');">
                                    <i class="fas fa-tasks"></i> Team Approval Requests - Review
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('PM');">
                                    <i class="fas fa-thumbs-up"></i> Team Approval Requests - Approved
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Process Lead');">
                                    <i class="fas fa-drafting-compass"></i> Arch Valuation List
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('ADQS');">
                                    <i class="fas fa-user-edit"></i> ADAS Review List
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('PM');">
                                    <i class="fas fa-file-signature"></i> PM Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('CRJ');">
                                    <i class="fas fa-file-signature"></i> CRJ Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Rejected');">
                                    <i class="fas fa-ban"></i> Rejected Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('DSCM');">
                                    <i class="fas fa-clipboard-check"></i> Procurement Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Project Manager');">
                                    <i class="fas fa-briefcase"></i> Project Manager Contractor Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Actioned');">
                                    <i class="fas fa-check-circle"></i> Actioned Contractor Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorPracticalRequestLink('Actioned Acknowledged');">
                                    <i class="fas fa-handshake"></i> Acknowledged Contractor Requests
                                </a>
                            </li>
                        </ul>



                    </div>
                </div>
            </div>

            @* making good defects*@
            <div class="col-md-4" style="border-right: 12px solid transparent;">
                <br />
                <div class="row">
                    <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('contractorMakingGoodDefects');">
                        <a style="text-decoration: none; cursor: pointer;">
                            <div class="dash-widget-header">
                                <h5 style="color:whitesmoke">Contractor Making Good Defects</h5>
                                <div class="dash-count">
                                    <h3 class="menu-item-count" style="color:#fff;"></h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="contractorMakingGoodDefects" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">

                        <ul class="widget-list">
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('New');">
                                    <i class="fas fa-file-upload"></i> New Contractor Extension Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Submitted');">
                                    <i class="fas fa-file-upload"></i> Submitted Contractor Extension Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Received');">
                                    <i class="fas fa-inbox"></i> Received Contractor Extension Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsTeamApprovalLink('New');">
                                    <i class="fas fa-users"></i> Team Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsTeamApprovalLink('Submitted');">
                                    <i class="fas fa-search"></i> Team Approval Requests- Review
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('PM');">
                                    <i class="fas fa-check"></i> Team Approval Requests- Approved
                                </a>
                            </li>


                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('CRJ');">
                                    <i class="fas fa-file-signature"></i> CRJ Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Rejected');">
                                    <i class="fas fa-times-circle"></i> Rejected Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('DSCM');">
                                    <i class="fas fa-clipboard-check"></i> Procurement Approval Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Project Manager');">
                                    <i class="fas fa-briefcase"></i> Project Manager Contractor Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Actioned');">
                                    <i class="fas fa-check-circle"></i> Actioned Contractor Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ContractorGoodDefectsRequestLink('Actioned Acknowledged');">
                                    <i class="fas fa-handshake"></i> Acknowledged Contractor Requests
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            @* project closure*@
            <div class="col-md-4" style="border-right: 12px solid transparent;">
                <br />
                <div class="row">
                    <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('ProjectClosure');">
                        <a style="text-decoration: none; cursor: pointer;">
                            <div class="dash-widget-header">
                                <h5 style="color:whitesmoke">Project Closure</h5>
                                <div class="dash-count">
                                    <h3 class="menu-item-count" style="color:#fff;"></h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="ProjectClosure" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                        <ul class="widget-list" style="list-style: none; text-decoration: none;">
                            <li>
                                <a href="#" onclick="ProjectClosureLink();">
                                    <i class="fas fa-chess-king"></i> Project Closure Requests
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @* Closed Projects*@
            <div class="col-md-4" style="border-right: 12px solid transparent;">
                <div class="row">
                    <div class="card-body" style="background-color: #162f25; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; height: auto;" onclick="toggleWidget('ClosedProjects');">
                        <a style="text-decoration: none; cursor: pointer;">
                            <div class="dash-widget-header">
                                <h5 style="color:whitesmoke">Closed Projects</h5>
                                <div class="dash-count">
                                    <h3 class="menu-item-count" style="color:#fff;"></h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="ClosedProjects" class="col-md-12 pt-3 pb-3 widget-content" style="border: 1px solid #b8a603; border-top: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none;">
                        <ul class="widget-list" style="list-style: none; text-decoration: none;">
                            <li>
                                <a href="#" onclick="ClosedProjectsLink();">
                                    <i class="fas fa-chess-king"></i> Closed Projects
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>



</div>

<script>
    function updateMenuItemCount() {
        var widgetContents = document.querySelectorAll('.widget-content');
        widgetContents.forEach(function (widgetContent) {
            var ulElement = widgetContent.querySelector('ul.widget-list');
            var menuItemCount = ulElement.getElementsByTagName('li').length;
            var parentElement = widgetContent.previousElementSibling;
            var countElement = parentElement.querySelector('.dash-count .menu-item-count');
            if (!countElement) {
                var dashCount = parentElement.querySelector('.dash-count');
                if (dashCount) {
                    countElement = document.createElement('h3');
                    countElement.classList.add('menu-item-count');
                    countElement.style.color = '#fff';
                    dashCount.appendChild(countElement);
                }
            }
            if (countElement) {
                countElement.textContent = menuItemCount;
            }
        });
    }

    window.addEventListener('load', function () {
        updateMenuItemCount();
    });

    /*    var ContractorPaymentLink = function (status) { navigateTo("/ProjectManagement/ContractorPaymentRequestList?status=" + status); }*/

    function HomeLink() {
        window.location.href="/"
    }
</script>
