@using Latest_Staff_Portal.Models
@model Latest_Staff_Portal.ViewModel.EmployeeView
<div>
    @{
        var imgSrc = "";
        if (Session["ImgProfile"] == null)
        {
            var base64 = CommonClass.ProfilePicture(Session["Username"].ToString());
            if (base64 != "")
            {
                imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                Session["ImgProfile"] = imgSrc;
            }
        }
        else
        {
            imgSrc = Session["ImgProfile"].ToString();
        }

        if (imgSrc != "")
        {
            <img src="@imgSrc" Height="115" Width="114" style="border-radius: 50% !important"/>
        }
        else
        {
            if (Model.Gender == "Female")
            {
                <img src="~/assets/images/profile_f.png" Height="115" Width="114" style="border-radius: 50% !important"/>
            }
            else
            {
                <img src="~/assets/images/profile_m.png" Height="115" Width="114" style="border-radius: 50% !important"/>
            }
        }
    }
</div>