@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h5>Change Password</h5>
        </div>
        <hr/>
        <p>
            <i style="color:red">Ensure your password meets password policy as outlined at the bottom of this form</i>
        </p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="password" class="lblClass">New Password</label>
                    <input type="password" class="form-control" id="NewPassword" placeholder="Password" required="" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="userpassword" class="lblClass">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPass" placeholder="Confirm password" required="" autocomplete="off">
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <input type="submit" value="Change Password" id="btnChange" class="btn btn-danger" style="color: wheat"/>
        <div class="row">
            <div class="col-md-12">
                <hr style="border: 1px solid black"/>
                <div class="title">
                    <b>
                        <u>Password Policy</u>
                    </b>
                </div>
                Your Password should include :
                <ul style=" list-style: none; text-decoration: none">
                    <li>
                        <b>Should not contain any of your names</b>
                    </li>
                    <li>Uppercase—for example, A to Z</li>
                    <li>Lowercase—for example, a to z</li>
                    <li>Numeric—0 to 9</li>
                    <li>Non-alphanumeric symbols such as !, #, %, or &</li>
                </ul>
            </div>
        </div>


    </div>


</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script>
    $(document).ready(function () {
        $("#btnChange").click(function () {
            var passord = $("#NewPassword").val();
            var Confirmpassord = $("#confirmPass").val();

            if (passord == "") {
                Swal.fire('Warning', 'Enter Your new password', 'warning');
                return;
            }
            else if (Confirmpassord == "") {
                Swal.fire('Warning', 'Confirm your password', 'warning');
                return;
            }
            else if (passord != Confirmpassord) {
                $("#NewPassword").val('');
                $("#confirmPass").val('');
                Swal.fire('Warning', 'Passwords do not match. Enter them again', 'warning');
                return;
            }
            else if (passord.length < 6) {
                $("#NewPassword").val('');
                $("#confirmPass").val('');
                Swal.fire('Warning', 'Password should have at least 6 characters', 'warning');
                return;
            }
            else {
                ShowProgress();
                $.ajax({
                    url: "/Settings/ChangePassord",
                    datatype: "json",
                    type: "POST",
                    data: JSON.stringify({ newpass: passord }),
                    contentType: "application/json; charset = utf-8",
                    success: function (data) {
                        if (data.success == true) {
                            Swal.fire('Success', data.message, 'success');
                            $("#NewPassword").val('');
                            $("#confirmPass").val('');
                            HideProgress();
                        }
                        else {
                            if (data.redirect == true) {
                                window.location = data.message;
                            }
                            else {
                                Swal.fire('Warning', data.message, 'warning');
                                HideProgress();
                            }
                        }
                    },
                    error: function (err) {
                        HideProgress();
                        Swal.fire('Error', err, 'error');
                    }
                });
            }
        });
    });
</script>